*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D2D0BA}

@import '_header+footer';
@import '_variables';

h2{
    position: relative;
        top: 18vh;
        left: 35%;
        color: $font_color;
}
@keyframes click{
    0%{font-size: 20px;}
    50%{font-size: 15px;}
    100%{font-size: 20px;}
    
}
section{height: 150vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    'div';  
}
article p{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}


 p{margin-top: 150px;
    position: relative;
    
    color: $font_color;
    font-size: small;
    border: 2px solid black;
    width: 80%;
    padding-left: 12.5%;
    padding-right: 15%;
   
    
}

iframe{
    width: 95%;
    margin-left: 2%;
}


p:hover{
    background-color: #E5C1BD;
    font-size: 1.5em;
    padding-left:14%;
   
}

 h4{
    margin-top: 50px;
    margin-left: 150px;
}

main > img {
    width: 15vw;
    transition-timing-function: linear;
    transition-property: left top;
    transition-duration: 0.5s;
}

main>img:active{
    width: 25em;
    left: 15%;
    top: 20%;
    position: absolute;
    z-index: 30;
}





#MenuBar a:visited{color: chartreuse;}


a:link{color: rgb(240, 16, 184);}

footer > a:visited{color: chartreuse;}

@media screen and(min-width: 600px){
   
   }
   #video h4{
       position: relative;
    left: 35vw;
    width: 100vw;

}
  


@media screen and (min-width: 1000px){ 
    
.Grid>main {
    position: relative;
    top: 10vh;
    height: 50vh;
    width: 50vw;
    left: 5%;
}



.Grid > div {
    position:relative;
    top: 20vh;
}

.Grid > h2 {
    position:relative;
    top: 15vh;
    text-align: center;
}

.Grid > footer a,img,h3{
    bottom: 0%;
    left: 0;
    width: 100vw;
    display: inline-block;
    vertical-align: middle;
    
}

.Grid > header a,img,h1{
    display: inline-block;
    margin-left: 25px;
    
}

#content > article {
    position: relative;
    left: 20%;
    top: 0%;
    margin: 0;
}



article>h1{
    position:relative;
    top: 10vh;
    left: 15vh;
    font-size: 1.5em;
}
footer > img{
    width: 30px;
}

header > img{
    width: 30px;
}
}














footer{background-color: rgb#00989B;}






