/*DESCENDANT SELECTOR*/
section p{color: goldenrod;
}

/*CHILD SELECTOR + ACTIVE*/
section>img:active{height: 25em;}


/*ADJACENT SELECTOR + HOVER*/
#footer + img,a:hover{font-size: 1.25em}

/*Make an argument to make more efficient? Otherwise VISITED*/

#MenuBar_Home a:visited{color: chartreuse;}

#MenuBar_Contact a:visited{color: chartreuse;}

#MenuBar_Gallery a:visited{color: chartreuse;}

header{background-color: rgb(43, 117, 228);}



footer{background-color: rgb(43, 117, 228) ;}

footer > a:visited{color: chartreuse;}


html{background-color: aqua;}
