html{background-color: aqua;}


@keyframes click{
    0%{font-size: 20px;}
    50%{font-size: 15px;}
    100%{font-size: 20px;}
    
}
.Grid{height: 350vh;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        'header'
        'main'
        'footer'
        'div';
}

.Grid > header{
    position:fixed;
    width: 100vw;
    height: 15vh;
    z-index: 20;
    top: 0%;
    left: 0%;
}



.Grid > main {
    position: relative;
    top: 10vh;
    height: 50vh;
    width: 50vw;
    left: 5%;
}

.Grid > div {
    position:relative;
    top: 20vh;
}

.Grid > h2 {
    position:relative;
    top: 15vh;
}

.Grid > footer{
    position:fixed;
    bottom: 0%;
    left: 0;
    width: 100vw;
}

main > img {
    width: 15vw;
    transition-timing-function: linear;
    transition-property: left top;
    transition-duration: 0.5s;
}

article p{color: goldenrod;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid;
    border-color: black;
    padding: 10px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}

article p:hover{
    background-color: black;
   
}

article>h1{
    position:relative;
    top: 10vh;
    left: 15vh;
    font-size: 1.5em;
}

main>img:active{
    width: 25em;
    left: 50%;
    top: 05%;
    position: absolute;
}



#footer + img,a:hover{font-size: 1.25em}

#header + img, a:active{
    animation-name: click;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    
}



#MenuBar_Home a:visited{color: chartreuse;}

#MenuBar_Contact a:visited{color: chartreuse;}

#MenuBar_Gallery a:visited{color: chartreuse;}

header{background-color: rgb(43, 117, 228);}

a:link{color: rgb(240, 16, 184);}

footer{background-color: rgb(43, 117, 228) ;}

footer > a:visited{color: chartreuse;}


header > img{
    width: 30px;
}

footer > img{
    width: 30px;
}
